# Student Gradebook

Create a DataFrame for student grades and calculate the average
score for each student and each subject.

import libraray

In [5]:
import pandas as pd
import numpy as np

# Sample data for student grades

In [6]:
data = {
    'Student': ['Alice', 'Bob', 'Alice', 'Bob', 'Charlie', 'Alice'],
    'Subject': ['Math', 'Math', 'Physics', 'Physics', 'Math', 'Chemistry'],
    'Score': [85, 70, 92, 65, 88, 78]
}

# Create the DataFrame

In [7]:

f = pd.DataFrame(data)

print("Original Gradebook:")

print (data)

Original Gradebook:
{'Student': ['Alice', 'Bob', 'Alice', 'Bob', 'Charlie', 'Alice'], 'Subject': ['Math', 'Math', 'Physics', 'Physics', 'Math', 'Chemistry'], 'Score': [85, 70, 92, 65, 88, 78]}

# calculate students average

In [11]:
student_avarages= df .groupby('Student').mean() # type: ignore

NameError: name 'df' is not defined

# Create an alternative DataFrame where subjects are columns