## Student Grade book

 Create a DataFrame for student grades and calculate the average
score for each student and each subject

# step:1 set up the imported libraray

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Set display options to show all columns
pd.set_option('display.max_columns', None)

print("Libraries imported successfully.")

Libraries imported successfully.

# step:2 create the Gradebook dataframe

In [2]:
grade_data = {
    'Student_Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Quiz_1': [85, 92, 78, 88],
    'Quiz_2': [90, 85, 82, 95],
    'Exam_1': [95, 88, 85, 91],
    'Homework_1': [100, 95, 88, 92],
    'Homework_2': [98, 90, 85, 96]
}

gradebook_df = pd.DataFrame(grade_data)
print("Initial Gradebook:")
print(gradebook_df)

Initial Gradebook:
  Student_Name  Quiz_1  Quiz_2  Exam_1  Homework_1  Homework_2
0        Alice      85      90      95         100          98
1          Bob      92      85      88          95          90
2      Charlie      78      82      85          88          85
3        David      88      95      91          92          96

# step:3 calculate total and final scores

In [3]:
# Calculate total quiz score by summing the relevant columns
gradebook_df['Total_Quizzes'] = gradebook_df['Quiz_1'] + gradebook_df['Quiz_2']

# Define weighting for final grade calculation
weight_quiz = 0.30
weight_homework = 0.30
weight_exam = 0.40

# Calculate a weighted final grade
gradebook_df['Final_Grade'] = (
    (gradebook_df['Quiz_1'] + gradebook_df['Quiz_2']) / 2 * weight_quiz +
    (gradebook_df['Homework_1'] + gradebook_df['Homework_2']) / 2 * weight_homework +
    gradebook_df['Exam_1'] * weight_exam
)
print("\nGradebook with calculated scores:")
print(gradebook_df)

Gradebook with calculated scores:
  Student_Name  Quiz_1  Quiz_2  Exam_1  Homework_1  Homework_2  Total_Quizzes  \
0        Alice      85      90      95         100          98            175
1          Bob      92      85      88          95          90            177
2      Charlie      78      82      85          88          85            160
3        David      88      95      91          92          96            183

   Final_Grade
0        93.95
1        89.50
2        83.95
3        92.05

# step:4 Assign Letter grades

In [4]:
# Define a function to determine letter grade
def assign_letter_grade(score):
    if score >= 90:
        return 'A'
    elif score >= 80:
        return 'B'
    elif score >= 70:
        return 'C'
    elif score >= 60:
        return 'D'
    else:
        return 'F'

# Apply the function to create a new 'Letter_Grade' column
gradebook_df['Letter_Grade'] = gradebook_df['Final_Grade'].apply(assign_letter_grade)
print("\nFinal Gradebook with letter grades:")
print(gradebook_df)

Final Gradebook with letter grades:
  Student_Name  Quiz_1  Quiz_2  Exam_1  Homework_1  Homework_2  Total_Quizzes  \
0        Alice      85      90      95         100          98            175
1          Bob      92      85      88          95          90            177
2      Charlie      78      82      85          88          85            160
3        David      88      95      91          92          96            183

   Final_Grade Letter_Grade
0        93.95            A
1        89.50            B
2        83.95            B
3        92.05            A

# step:5 save the Grade book to a file

In [5]:
# Save the final gradebook to a CSV file
gradebook_df.to_csv('student_gradebook.csv', index=False)
print("\nGradebook saved to 'student_gradebook.csv'")

Gradebook saved to 'student_gradebook.csv'

# step:6 Analyze Grade

In [6]:
# Sort the gradebook by final grade in descending order
sorted_gradebook = gradebook_df.sort_values(by='Final_Grade', ascending=False)
print("\nGradebook sorted by Final_Grade:")
print(sorted_gradebook)

# Get descriptive statistics for numerical columns
print("\nDescriptive Statistics:")
print(gradebook_df.describe())

Gradebook sorted by Final_Grade:
  Student_Name  Quiz_1  Quiz_2  Exam_1  Homework_1  Homework_2  Total_Quizzes  \
0        Alice      85      90      95         100          98            175
3        David      88      95      91          92          96            183
1          Bob      92      85      88          95          90            177
2      Charlie      78      82      85          88          85            160

   Final_Grade Letter_Grade
0        93.95            A
3        92.05            A
1        89.50            B
2        83.95            B

Descriptive Statistics:
          Quiz_1     Quiz_2     Exam_1  Homework_1  Homework_2  Total_Quizzes  \
count   4.000000   4.000000   4.000000    4.000000    4.000000       4.000000
mean   85.750000  88.000000  89.750000   93.750000   92.250000     173.750000
std     5.909033   5.715476   4.272002    5.057997    5.909033       9.776673
min    78.000000  82.000000  85.000000   88.000000   85.000000     160.000000
25%    83.250000  84.250000  87.250000   91.000000   88.750000     171.250000
50%    86.500000  87.500000  89.500000   93.500000   93.000000     176.000000
75%    89.000000  91.250000  92.000000   96.250000   96.500000     178.500000
max    92.000000  95.000000  95.000000  100.000000   98.000000     183.000000

       Final_Grade
count     4.000000
mean     89.862500
std       4.342882
min      83.950000
25%      88.112500
50%      90.775000
75%      92.525000
max      93.950000