# Combining and Cleaning Sales Data

Merge two sales datasets from different regions and clean the
combined data.

Import library

In [3]:
import pandas as pd
import numpy as np

# step:2. Create the DataFrames

In [5]:
# Create sales data for region A
data_a = {
    'product_id': ['A101', 'A102', 'A103', 'A104'],
    'product_name': ['Laptop', 'Mouse', 'Keyboard', 'Monitor'],
    'sales': [1200, 250, 150, 450]
}
sales_region_A = pd.DataFrame(data_a)
print("Sales Data - Region A:")
print(sales_region_A)
print("\n" + "="*40 + "\n")

# Create sales data for region B with a different column name and a missing value
data_b = {
    'product_ID': ['A101', 'A103', 'A105'],
    'product_name': ['Laptop', 'Keyboard', 'Webcam'],
    'sales': [1500, np.nan, 80]
}
sales_region_B = pd.DataFrame(data_b)
print("Sales Data - Region B:")
print(sales_region_B)

Sales Data - Region A:
  product_id product_name  sales
0       A101       Laptop   1200
1       A102        Mouse    250
2       A103     Keyboard    150
3       A104      Monitor    450

========================================

Sales Data - Region B:
  product_ID product_name   sales
0       A101       Laptop  1500.0
1       A103     Keyboard     NaN
2       A105       Webcam    80.0

# Step:3 Standardize and merge the data

In [6]:
# Standardize the column name in sales_region_B
sales_region_B.rename(columns={'product_ID': 'product_id'}, inplace=True)

# Merge the DataFrames using pd.concat()
combined_sales = pd.concat([sales_region_A, sales_region_B], ignore_index=True)
print("Combined Sales Data (before cleaning):")
print(combined_sales)

Combined Sales Data (before cleaning):
  product_id product_name   sales
0       A101       Laptop  1200.0
1       A102        Mouse   250.0
2       A103     Keyboard   150.0
3       A104      Monitor   450.0
4       A101       Laptop  1500.0
5       A103     Keyboard     NaN
6       A105       Webcam    80.0

# step: 4 Clean the combined data

In [7]:
# Check for missing values
print("Missing values in combined data:")
print(combined_sales.isnull().sum())

Missing values in combined data:
product_id      0
product_name    0
sales           1
dtype: int64

Fill missing sales values with the average

In [8]:
# Fill missing sales with the average sales
average_sales = combined_sales['sales'].mean()
combined_sales['sales'].fillna(average_sales, inplace=True)

print("\nCombined Sales Data (after filling missing sales):")
print(combined_sales)

Combined Sales Data (after filling missing sales):
  product_id product_name   sales
0       A101       Laptop  1200.0
1       A102        Mouse   250.0
2       A103     Keyboard   150.0
3       A104      Monitor   450.0
4       A101       Laptop  1500.0
5       A103     Keyboard   605.0
6       A105       Webcam    80.0

C:\Users\Admin\AppData\Local\Temp\ipykernel_14304\1519453295.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  combined_sales['sales'].fillna(average_sales, inplace=True)

Drop rows with missing values

In [10]:
# Drop any rows with a missing product_id (none in this example, but good practice)
cleaned_sales = combined_sales.dropna(subset=['product_id'])

print("\nCleaned Sales Data (after dropping remaining missing values):")
print(cleaned_sales)

Cleaned Sales Data (after dropping remaining missing values):
  product_id product_name   sales
0       A101       Laptop  1200.0
1       A102        Mouse   250.0
2       A103     Keyboard   150.0
3       A104      Monitor   450.0
4       A101       Laptop  1500.0
5       A103     Keyboard   605.0
6       A105       Webcam    80.0

# step:5 Analyze the combined, cleaned data

In [11]:
# Group by product_id and calculate total sales
total_sales_per_product = cleaned_sales.groupby('product_id')['sales'].sum().reset_index()

print("\nTotal sales for each product across both regions:")
print(total_sales_per_product)

Total sales for each product across both regions:
  product_id   sales
0       A101  2700.0
1       A102   250.0
2       A103   755.0
3       A104   450.0
4       A105    80.0